@font-face {
    font-family: 'bazar';
    src: url('font/bazar-webfont.eot');
    src: url('font/bazar-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/bazar-webfont.woff2') format('woff2'),
         url('font/bazar-webfont.woff') format('woff'),
         url('font/bazar-webfont.ttf') format('truetype'),
         url('font/bazar-webfont.svg#bazarmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@media (min-width:321px) and (max-width:480px) {
    html { font-size:1.2em }
    body{
		width: 480px;
		background-image: url('BG_mobmob.png');
		background-repeat: no-repeat;
	}
	nav{
		height: 50px;
		background-color: #0273BF;
		margin-top: -10px;
	}
	section{
		max-height: 768px;
	}
	section h1{
		width: 480px;
		font-size: 2em;
		line-height: 1.5em;
		font-family: bazar;
		color: #0273BF;
		text-align: center;
		padding-top: 60px;
	}
	section img{
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-top: 35px;
		width: 240px;
		height: 180px;
	}

}

@media (min-width:481px) and (max-width:768px) {
    html { font-size:1.6em }

    body{
		width: 100%;
		background-image: url('BG_mob.png');
		background-repeat: no-repeat;
	}
	nav{
		height: 100px;
		background-color: #0273BF;
		margin-top: -10px;
	}
	section{
		max-height: 768px;
	}
	section h1{
		font-size: 3em;
		font-family: bazar;
		color: #0273BF;
		text-align: center;
		padding-top: 40px;
	}
	section img{
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-top: 35px;
	}
}

@media (min-width:769px) {
    html { font-size:2em }

    body{
	width: 100%;
	background-image: url('BG.png');
	background-repeat: no-repeat;
}
nav{
	height: 75px;
	background-color: #0273BF;
}
section{
	max-height: 768px;
}
section h1{
	font-size: 3em;
	font-family: bazar;
	color: #0273BF;
	text-align: center;
	padding-top: 190px;
}
section img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 55px;
}
}



